@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base: "Architects Daughter", BowlbyOneSC;
  --font-alt: "Open Sans", BowlbyOneSC;

  --color-golden: #dcca87;
  --color-black: #0c0c0c;
  --color-gray: rgb(96, 87, 88);
  --color-crimson: #f5efdb;
  --color-grey: #aaaaaa;
  --color-slate-900: #10172a;
  --color-darkred: #701a1c;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Architects Daughter", sans-serif;
  scroll-behavior: smooth;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

/* architects-daughter-regular - latin */
@font-face {
  font-family: "Architects Daughter";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.eot")
      format("embedded-opentype"),
    url("../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.woff2")
      format("woff2"),
    url("../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.woff")
      format("woff"),
    url("../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.ttf")
      format("truetype"),
    url("../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.svg")
      format("svg");
}

/* BowlbyOneSC/-sc-regular - latin */
@font-face {
  font-family: "Bowlby One SC";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.eot")
      format("embedded-opentype"),
    url("../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.woff2")
      format("woff2"),
    url("../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.woff")
      format("woff"),
    url("../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.ttf")
      format("truetype"),
    url("../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.svg")
      format("svg");
}

.headingA {
  -webkit-text-stroke-width: 2.33px;
  -webkit-text-stroke-color: #ffffff;
  font-family: "Bowlby One SC";
}
.headingG {
  -webkit-text-stroke-width: 0.33px;
  -webkit-text-stroke-color: #ffffff;
  font-family: "Bowlby One SC";
}

.headingB {
  -webkit-text-stroke-width: 1.33px;
  -webkit-text-stroke-color: #ffcc00;
  font-family: "Architects Daughter";
}

.headingC {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
  font-family: "Architects Daughter";
}

.headingD {
  -webkit-text-stroke-width: 0.66px;
  -webkit-text-stroke-color: #595959;
  font-family: "Architects Daughter";
  font-weight: extrabold;
}

.headingE {
  -webkit-text-stroke-width: 3.99px;
  -webkit-text-stroke-color: #595959;
  font-family: "Bowlby One SC";
  font-weight: extrabold;
}

.headingF {
  -webkit-text-stroke-width: 3.66px;
  -webkit-text-stroke-color: #fffffc;
  font-family: "Bowlby One SC";
  font-weight: extrabold;
}

.shape-lighthouse {
  shape-margin: 80px;
  float: left;
  shape-outside: url("/lighthouse3.png");
  shape-image-threshold: 0.6;
}

.portraitMick {
  shape-margin: 80px;
  shape-outside: url("/portraitmick.png");
  shape-image-threshold: 0.6;
}

.bg-wohin {
  background-image:
    linear-gradient(
      to bottom,
      rgba(25, 36, 45, 1),
      rgba(0, 0, 255, 0),
      rgba(25, 36, 45, 1)
    ),
    url("/west-side-story.png");
  background-size: cover;
  background-repeat: no repeat;
}

.bg-hero {
  background-image:
    linear-gradient(
      to bottom,
      rgba(25, 36, 45, 1),
      rgba(0, 0, 255, 0),
      rgba(25, 36, 45, 1)
    ),
    url("/lighthouse.webp");
  background-size: 100% 100%;
  background-repeat: no repeat;
  height: 10%;
  width: 100%;
}

@media (min-width: 890px) {
  .bg-hero {
    background-image:
      linear-gradient(
        to bottom,
        rgba(25, 36, 45, 1),
        rgba(0, 0, 255, 0),
        rgba(25, 36, 45, 1)
      ),
      url("/5566.svg");
  }
}

.bg-sportarena {
  background-image:
    linear-gradient(
      to bottom,
      rgba(26, 35, 46, 1),
      rgba(0, 0, 0, 0),
      rgba(25, 36, 45, 1)
    ),
    url("/sportarenawc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.Albers {
 background: linear-gradient(to right, #000000, #ffffff, #ffffff);
}



.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #000000 0%,
    #595959 53.65%,
    #676767 100%
  );
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;

  background: #16212a;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;

  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(0, 0, 0, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: #8d39a3;
  filter: blur(175px);
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

  background: #65c4fa;
  filter: blur(150px);
}
.intro-copy {
  padding: 1em;
  margin: 50vh auto;
  max-width: 15em;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 2em;
  line-height: 1.2;
  text-align: center;
}

.top-link {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;

  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: 0.25em;
  width: 80px;
  height: 80px;
  background-color: #f8f8f8;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &.hide {
    visibility: hidden;
    opacity: 0;
  }

  svg {
    fill: #000;
    width: 24px;
    height: 12px;
  }

  &:hover {
    background-color: #e8e8e8;

    svg {
      fill: #000000;
    }
  }
}

.screen-reader-text {
  position: absolute;
  clip-path: inset(50%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  clip: rect(1px, 1px, 1px, 1px);
}

&:focus {
  display: block;
  top: 5px;
  left: 5px;
  z-index: 100000;
  clip-path: none;
  background-color: #eee;
  padding: 15px 23px 14px;
  width: auto;
  height: auto;
  text-decoration: none;
  line-height: normal;
  color: #444;
  font-size: 1em;
  clip: auto !important;
}

body {
  background-color: #343434;
}

#cover {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

#cover > img {
  float: left;
  border: 2px solid black;
  width: 45%;
  margin: 1.66%;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .Albers {
	mask-image: url(../public/maskeAlbers.png);
	mask-size: contain;
	mask-repeat: no-repeat;
}
}
